:root {
    --primary-color: #39393A;
    --secondary-color: #9B9B93;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.1em;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 400px;
    width: 300px;
    padding: 10px;

    background-color: var(--primary-color);
    border-radius: 0.1em;

    display: grid;
    grid-template-areas:
        "input input input input"
        "one two three clear"
        "four five six sum"
        "seven eight nine subtraction"
        "dot zero division multiplication"
        "submit submit submit submit"
    ;
    gap: 10px;
}
@media (max-width: 500px) {
    main {
        width: 100%;
        height: 70%;
    }
}

button {
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 0.3em;
    color: #F5F5F4;
    outline: none;
    cursor: pointer;
}
button:active{
    background-color: var(--secondary-color);
}

textarea {
    grid-area: input;
    resize: none;
    padding: 10px;
    border-radius: 0.3em;
    
    background-color: var(--secondary-color);
    color: #F5F5F4;

    white-space: pre;
    outline: none;

    cursor: auto;
}

.operators {
    background-color: #954B80;
    border-color: #954B80;
    color: #F8F1F6;
}
.operators:hover {
    background-color: #AD5C96;
}
.operators:active{
    background-color: #C185B0;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.zero {
    grid-area: zero;
}

#sum {
    grid-area: sum;
}

#subtraction {
    grid-area: subtraction;
}

#multiplication {
    grid-area: multiplication;
}

#division {
    grid-area: division;
}

#dot {
    grid-area: dot;
}

#submit {
    grid-area: submit;
    background-color: #0047CC;
    color: #EBF2FF;
    border-color: #0047CC;
}
#submit:hover{
    background-color: #0056F5;
}
#submit:active{
    background-color: #337AFF;
}

#clear {
    grid-area: clear;
    background-color: #E0000B;
    border-color: #E0000B;
    color: #FFEBEC;
}
#clear:hover{
    background-color: #FF0A16;
}
#clear:active{
    background-color: #FF4751;
}